<table>
  <thead>
    <th>
      Pizza Size
    </th>
  </thead>
  <tbody>
    <td *ngFor="let small of smallPizzaArray.controls, let i = index;">
      <!-- <label for="inlineCheckbox{{i}}">{{smallPizza[i]}}</label> -->
      <input [formControl]="small"
      (change)=getSelectedSmallValues() type="checkbox" id="inlineCheckbox{{i}}">
    </td>
    <td *ngFor="let medium of mediumPizzaArray.controls, let i = index;">
      <!-- <label for="inlineCheckbox{{i}}">{{smallPizza[i]}}</label> -->
      <input [formControl]="medium"
      (change)=getSelectedMediumValues() type="checkbox" id="inlineCheckbox{{i}}">
    </td>
    <td *ngFor="let large of largePizzaArray.controls, let i = index;">
      <!-- <label for="inlineCheckbox{{i}}">{{smallPizza[i]}}</label> -->
      <input [formControl]="large"
      (change)=getSelectedLargeValues() type="checkbox" id="inlineCheckbox{{i}}">
    </td>
    <td *ngFor="let extraLarge of extraLargePizzaArray.controls, let i = index;">
      <!-- <label for="inlineCheckbox{{i}}">{{smallPizza[i]}}</label> -->
      <input [formControl]="extraLarge"
      (change)=getSelectedExtraLargeValues() type="checkbox" id="inlineCheckbox{{i}}">
    </td>
  </tbody>
</table>
